@model TruckDriverApp.Models.Driver

@{
    ViewData["Title"] = "Index";
}

<link rel= ="stylesheet" href="/css/LayoutBySection.css">
<h1 style="margin: 0 auto; justify-content: space-around; width: 800px; text-align:center; border: 1px solid black; border-bottom-color: transparent; padding: 20px; margin: 0 auto; background-color: lightslategrey; box-shadow: 5px 5px 5px black;">
   Professional Driver Portal
</h1>
<body class="bodyDriverIndex">
    <link rel="stylesheet" href="/css/LayoutBySection.css">
    <div id="container">
        <form>
            <p class="box">

                @Html.ActionLink("Find Your Facility", "AllFacilitys", new { id = Model.Id })

            </p>
            @*<p class="box">
            @Html.ActionLink("Create a profile", "New", new { id = Model.Id })
        </p>*@
            <p class="box">
                @Html.ActionLink("View Your Profile", "ViewProfile", new { id = Model.Id })
            </p>
            @*<p class="box">
                @Html.ActionLink("Have Something To Say? Comment Here!", "CommentReviewProfile", new { id = Model.Id })
            </p>*@
            <p class="box">
                @Html.ActionLink("View Your Vehicles", "ViewVehicles", new { id = Model.Id })
            </p>

            <p class="box">
                @Html.ActionLink("Edit Your Information", "Edit", new { id = Model.Id })
            </p>
            <p class="box">
                @Html.ActionLink("Delete your profile", "Delete", new { id = Model.Id })
            </p>
            @*<p class="box">
                @Html.ActionLink("Add a vehicle to your account", "AddVehicle", new { id = Model.Id })
            </p>*@
            @*<p class="box">
                @Html.ActionLink("View submitted comments and reviews", "ViewCommentsMade", new { id = Model.Id })
            </p>*@

        </form>
    </div>
</body>
@*<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>*@


